<h1> Welcome to Awesome Answers 
<small> Too good</small></h1>
<!--<a href="<%= new_question_path%> ">Create New Question</a>-->

<div class="row">
        <% @questions.each_with_index do |question, index|%>
          <%if index % 3 == 0 %>
              <div class="row">
          <% end %>
          <div class="well col-md-4"> 
            <h3><%= link_to question.title, question %></h3>
            <p> <%=question.description%></p>
          </div>
          <% if (index+1)%3 == 0%>
            </div>
          <%end %>
        <%end %>
</div>
            

<div class="col-xs-12 col-md-4 col-lg-3">
<%= link_to " Create New Question", new_question_path, class: "btn btn-primary btn-xs" %> 
</div>

<div>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <% @questions.each do |question|%>
    <tr>
      <td><%= question.title%></td>
      <td><%= question.description%></td>
    </tr>
    <%end%>
</table>
</div>





